body{
background-color: azure;
}

h1{
    text-align: center;
    color: rgb(119, 119, 191);
}

/* To call uopn classes you need a PERIOD before the name */
.outerContainer{
    background-color:azure
}

.innerContainer{
    /* This effectively makes a box */
    background-color: #a49cd8;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 200px;
    width: 200px;
    /* This put them NEXT to eachother! In a line */
    display: inline-block;
    align-items: center;
    margin-left: 20px;
}

h4{
    text-align: center;
}

.title{
    background-color: rgb(139, 110, 193);
}

img{
    height: 350px;
}